@model sistema_reconocimiento.Models.Rewards

@{
    ViewData["Title"] = "Editar Recompensa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int points = ViewBag.GetPoints;
}
<div class="app-content content">
    <div class="content-wrapper">
        <h4 class="fw-bold py-3"><span class="text-muted fw-light">Rewards/</span>Edit Reward</h4>
        <div class="row">
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="card mb-2">
                                <h5 class="mb-0">Complete the information</h5>
                                <div class="card-body">
                                    <form asp-action="Editar_recompensa" enctype="multipart/form-data">
                                        <input type="hidden" asp-for="ID_Reward" />
                                        <div class="mb-3">
                                            <label class="form-label" for="basic-icon-default-name">Title</label>
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-name" class="input-group-text">
                                                    <i class="fas fa-pen"></i>
                                                </span>
                                                <input asp-for="Reward_Name"
                                                       type="text"
                                                       class="form-control"
                                                       id="basic-icon-default-name" />
                                            </div>
                                            <span asp-validation-for="Reward_Name" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="basic-icon-default-lastname">Description</label>
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-lastname" class="input-group-text">
                                                    <i class="fas fa-book"></i>
                                                </span>
                                                <input asp-for="Reward_Description"
                                                       type="text"
                                                       class="form-control"
                                                       id="basic-icon-default-lastname" />
                                            </div>
                                            <span asp-validation-for="Reward_Description" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="basic-icon-default-email">Price</label>
                                            <div class="input-group input-group-merge">
                                                <span class="input-group-text"><i class="fas fa-money"></i></span>
                                                <input asp-for="Price"
                                                       type="text"
                                                       id="basic-icon-default-email"
                                                       class="form-control" />
                                            </div>
                                            <span class="text-danger">@ViewData["PriceE"]</span>
                                            <span asp-validation-for="Price" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="basic-icon-default-email">Select the Image</label>
                                            <div class="input-group input-group-merge">
                                                <span class="input-group-text"><i class="fas fa-photo"></i></span>
                                                <input type="file" class="account-file-input" accept="image/png, image/jpeg" name="picture"/>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.PictureFile, "", new { @class = "text-danger" })
                                        </div>
                                        </br>
                                        <a class="btn btn-danger" asp-controller="Main" asp-action="Recompensas">Return</a>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Current information</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-name">Title</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-name" class="input-group-text">
                                        <i class="fas fa-pen"></i>
                                    </span>
                                    <input asp-for="Reward_Name"
                                           type="text"
                                           class="form-control"
                                           id="basic-icon-default-name"
                                           disabled />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-lastname">Description</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-lastname" class="input-group-text">
                                        <i class="fas fa-book"></i>
                                    </span>
                                    <input asp-for="Reward_Description"
                                           type="text"
                                           class="form-control"
                                           id="basic-icon-default-lastname"
                                           disabled />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-email">Price</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text"><i class="fas fa-money"></i></span>
                                    <input asp-for="Price"
                                           type="text"
                                           id="basic-icon-default-email"
                                           class="form-control"
                                           disabled />
                                </div>
                                <br />
                                <div class="mb-3">
                                    <label class="form-label" for="basic-icon-default-email">Current Image</label>
                                    <br />
                                    @if (!string.IsNullOrEmpty(Model.Base64Image))
                                    {
                                        <img class="card-img" src="data:image;base64,@Model.Base64Image" width="400" height="500" alt="Card image" />
                                    }
                                    else
                                    {
                                        <span>Couldn't found any image.</span>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/theme-assets/vendors/libs/jquery/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $("input[name='PictureFile']").change(function () {
                validateImageFile(this);
            });
        });

        function validateImageFile(input) {
            const allowedExtensions = ['jpg', 'jpeg', 'png'];
            const fileExtension = input.value.split('.').pop().toLowerCase();

            if (!allowedExtensions.includes(fileExtension)) {
                // Mostrar SweetAlert con el mensaje de error
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'The only allowed formats are .jpg, .jpeg o .png.',
                    confirmButtonColor: '#79d4f7',
                    confirmButtonText: 'OK'
                });

                // Limpiar el campo para evitar la selección incorrecta
                $(input).val('');
            }
        }
    </script>
