@{

    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-------------rest of the page ------------->
<div class="app-content content">
    <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row"></div>
    <div class="content-body">
        <div class="row match-height">
            <div class="col-12">
                <div class="navbar-nav align-items-center">
                    <h3 class="content-header-right">"Ninguno de nosotros es tan bueno como todos nosotros juntos." -Ray Kroc.</h3>
                    </br>
                </div>
                </br>
                </br>
                </br>
            </div>
        </div>
    </div>
</div>
<!--/ eCommerce statistic -->
<!-- Statistics -->
<div class="row match-height">
    <div class="col-xl-4 col-lg-12">
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Top 5 ingenieros con mas reconocimientos</h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="reload">
                                <i class="ft-rotate-cw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <div id="recent-buyers" class="media-list">
                    <a href="#" class="media border-0">
                        <div class="media-left pr-1">
                            <span class="avatar avatar-md avatar-online">
                                <img class="media-object rounded-circle" src="~/theme-assets/images/portrait/small/avatar-s-7.png" alt="Generic placeholder image">
                                <i></i>
                            </span>
                        </div>
                        <div class="media-body w-100">
                            <span class="list-group-item-heading">Kristopher Candy
                            </span>
                            <p class="list-group-item-text mb-0">
                                <span class="blue-grey lighten-2 font-small-3"></i> Support Engineer S3</span>
                            </p>
                        </div>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </a>
                    <a href="#" class="media border-0">
                        <div class="media-left pr-1">
                            <span class="avatar avatar-md avatar-away">
                                <img class="media-object rounded-circle" src="~/theme-assets/images/portrait/small/avatar-s-8.png" alt="Generic placeholder image">
                            </span>
                        </div>
                        <div class="media-body w-100">
                            <span class="list-group-item-heading">Lawrence Fowler</span>
                            <p class="list-group-item-text mb-0">
                                <span class="blue-grey lighten-2 font-small-3"></i> Support Engineer S3</span>
                            </p>
                        </div>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </a>
                    <a href="#" class="media border-0">
                        <div class="media-left pr-1">
                            <span class="avatar avatar-md avatar-busy">
                                <img class="media-object rounded-circle" src="~/theme-assets/images/portrait/small/avatar-s-9.png" alt="Generic placeholder image">
                                <i></i>
                            </span>
                        </div>
                        <div class="media-body w-100">
                            <span class="list-group-item-heading">Linda Olson</span>
                            <p class="list-group-item-text mb-0">
                                <span class="blue-grey lighten-2 font-small-3"></i> Technical Lead</span>                                    
                            </p>
                        </div>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </a>
                    <a href="#" class="media border-0">
                        <div class="media-left pr-1">
                            <span class="avatar avatar-md avatar-online">
                                <img class="media-object rounded-circle" src="~/theme-assets/images/portrait/small/avatar-s-10.png" alt="Generic placeholder image">
                                <i></i>
                            </span>
                        </div>
                        <div class="media-body w-100">
                            <span class="list-group-item-heading">Roy Clark</span>
                            <p class="list-group-item-text mb-0">
                                <span class="blue-grey lighten-2 font-small-3"> Technical Lead </span>
                            </p>
                        </div>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </a>
                    <a href="#" class="media border-0">
                        <div class="media-left pr-1">
                            <span class="avatar avatar-md avatar-online">
                                <img class="media-object rounded-circle" src="~/theme-assets/images/portrait/small/avatar-s-11.png" alt="Generic placeholder image">
                                <i></i>
                            </span>
                        </div>
                        <div class="media-body w-100">
                            <span class="list-group-item-heading">Kristopher Candy</span>
                            <p class="list-group-item-text mb-0">
                                <span class="blue-grey lighten-2 font-small-3">Subject Matter Expert</span>
                            </p>
                        </div>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
    </div>

<!--/ Statistics -->
    <!-- Images -->
    <div class="card-header">
        <div class="navbar-nav align-items-center">
            <h3 class="content-header-right">Recompensas</h3>
            </br>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3">
                <img class="card-img-top" src="~/theme-assets/images/rewards/freeday.PNG" alt="Card image cap" width="350" height="450"/>
                <div class="card-body">
                    <h5 class="card-title">Día libre</h5>
                    <p class="card-text">
                        Cualquier dia libre de la semana
                    </p>
                    <label>
                        Precio:
                    </label>
                    <svg width="50" height="50">
                        <circle cx="25" cy="25" r="20" fill="#79d4f7" />
                        <text x="50%" y="60%" text-anchor="middle" fill="white" font-size="16px">5000</text>
                    </svg>
                    <div class="navbar-nav align-items-center">
                        <a class="btn btn-danger" href="">Canjear puntos</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Helado</h5>
                        <p class="card-text">
                            Cualquier helado cuyo valor no sobrepase los 1000 colones
                        </p>
                            <label>
                                Precio:
                            </label>
                            <svg width="50" height="50">
                                <circle cx="25" cy="25" r="20" fill="#79d4f7" />
                                <text x="50%" y="60%" text-anchor="middle" fill="white" font-size="16px">300</text>
                            </svg>
                        <div class="navbar-nav align-items-center">
                            <a class="btn btn-danger" href="">Canjear puntos</a>
                        </div>
                    </div>
                <img class="card-img-bottom" src="~/theme-assets/images/rewards/icrecreams.jpg" alt="Card image cap" width="350" height="450" />
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3">
                <img class="card-img" src="~/theme-assets/images/rewards/gifts.jpg" alt="Card image" width="350" height="450"/>
                    <div class="card-body">
                        <h5 class="card-title">Regalo sorpresa</h5>
                        <p class="card-text">
                            Regalo sorpresa sobre alguno de tus gustos, el valor del regalo no sobrepasa los 10.000 colones
                        </p>
                        <span>
                        Precio:
                        </span>
                        <svg width="50" height="50">
                            <circle cx="25" cy="25" r="20" fill="#79d4f7" />
                            <text x="50%" y="60%" text-anchor="middle" fill="white" font-size="16px">700</text>
                        </svg>
                        <div class="navbar-nav align-items-center">
                            <a class="btn btn-danger" href="">Canjear puntos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Images -->
</div>
</div>
<!-------------rest of the page ------------->