@{
    ViewData["Title"] = "Ingenieros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Ingenieros</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Principal</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Ingenieros
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Tables start -->
            <!-- Table head options start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a asp-controller="Main" asp-action="Agregar_ingeniero" class="btn btn-danger"><i class="fas fa-plus"></i>Agregar Ingeniero</a>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <!-- Buscar -->
                                        <div class="navbar-nav align-items-center">
                                            <div class="nav-item d-flex align-items-center">
                                                <i class="bx bx-search fs-4 lh-0"></i>
                                                <input type="text"
                                                       class="form-control border-0 shadow-none"
                                                       placeholder="Buscar"
                                                       aria-label="Buscar" />
                                            </div>
                                        </div>
                                        <!-- /Search -->
                                    </li>
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Manager</th>
                                            <th scope="col">Rol de usuario</th>
                                            <th scope="col">Posición</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark Otto</td>
                                            <td>mark.otto@tek-experts.com</td>
                                            <td>John Bread</td>
                                            <td>Administrator</td>
                                            <td>Support Engineer S2</td>
                                            <td>
                                                <a class="btn btn-danger" asp-controller="Main" asp-action="Editar_ingeniero"><i class="fas fa-pen"></i></a>
                                                <a class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob Thornton</td>
                                            <td>jacob.thornton@tek-experts.com</td>
                                            <td>Dahiana Kramer</td>
                                            <td>Common User</td>
                                            <td>Technical Lead</td>
                                            <td>
                                                <a class="btn btn-danger" asp-controller="Main" asp-action="Editar_ingeniero"><i class="fas fa-pen"></i></a>
                                                <a class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Larry Wheels</td>
                                            <td>larry.wheels@tek-experts.com</td>
                                            <td>John Bread</td>
                                            <td>Common User</td>
                                            <td>Duty Manager</td>
                                            <td>
                                                <a class="btn btn-danger" asp-controller="Main" asp-action="Editar_ingeniero"><i class="fas fa-pen"></i></a>
                                                <a class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>