@{
    ViewData["Title"] = "Metricas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-content content">
    <div class="content-wrapper">

        <div class="content-body">
            <header>
                <h1>Metricas</h1>
                <iframe style='position: fixed; width:85%; height:85%' src="https://msit.powerbi.com/reportEmbed?reportId=b8795d15-9ce4-487c-ae1b-b82402f237ea&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47" frameborder="0" allowFullScreen="true"></iframe>
            </header>

        </div>
    </div>
</div>