@{
    ViewData["Title"] = "Mis Reconocimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Mi Historial de Reconocimientos</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Principal</a>
                            </li>
                            <li class="breadcrumb-item active">Mi Historial de Reconocimientos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="card-body">
                <div class="row">
                    <!-- Custom content with heading -->
                    <div class="col-lg-6">
                        <div class="demo-inline-spacing mt-2">
                            <div class="list-group">
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <h3 class="content-header-right">Cuando reconocí a alguien</h3>
                                </a>
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex justify-content-between w-100">
                                        <p class="mb-1">
                                            "Me ayudo mucho y logramos resolver el problema"
                                        </p>
                                        <small>Enviado a: Raul</small>
                                        <small>Fecha: 02/Febrero/2023</small>
                                    </div>
                                </a>
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex justify-content-between w-100">
                                        <p class="mb-1">
                                            "Me ayudo mucho y logramos resolver el problema"
                                        </p>
                                        <small>Enviado a: Raul</small>
                                        <small>Fecha: 02/Febrero/2023</small>
                                    </div>
                                </a>
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex justify-content-between w-100">
                                        <p class="mb-1">
                                            "Me ayudo mucho y logramos resolver el problema"
                                        </p>
                                        <small>Enviado a: Raul</small>
                                        <small>Fecha: 02/Febrero/2023</small>
                                    </div>
                                </a>
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex justify-content-between w-100">
                                        <p class="mb-1">
                                            "Me ayudo mucho y logramos resolver el problema"
                                        </p>
                                        <small>Enviado a: Raul</small>
                                        <small>Fecha: 02/Febrero/2023</small>
                                    </div>
                                </a>
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex justify-content-between w-100">
                                        <p class="mb-1">
                                            "Me ayudo mucho y logramos resolver el problema"
                                        </p>
                                        <small>Enviado a: Raul</small>
                                        <small>Fecha: 02/Febrero/2023</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Custom content with heading -->
                    <div class="col-lg-6">
                        <div class="demo-inline-spacing mt-2">
                            <div class="list-group">
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <h3 class="content-header-right">Cuando me reconocieron</h3>
                                </a>
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex justify-content-between w-100">
                                        <p class="mb-1">
                                            "Gracias por el esfuerzo constante para salir adelante"
                                        </p>
                                        <small>Enviado por: Jose</small>
                                        <small>Fecha: 02/Febrero/2023</small>
                                    </div>
                                </a>
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex justify-content-between w-100">
                                        <p class="mb-1">
                                            "Gracias por el esfuerzo constante para salir adelante"
                                        </p>
                                        <small>Enviado por: Jose</small>
                                        <small>Fecha: 22/Febrero/2023</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>