@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-content content">
    <div class="card-body">
        <div class="col-md-6" style="float:none;margin:auto;">
            <div class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Complete the information to update</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="card-body">
                            <div class="navbar-nav align-items-center">
                                <div class="navbar-nav align-items-center">
                                    <img src="~/assets/img/avatars/1.png"
                                         alt="user-avatar"
                                         class="d-block rounded"
                                         height="100"
                                         width="100"
                                         id="uploadedAvatar" />
                                </div>
                                <br/>
                                <div class="navbar-nav align-items-center">
                                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">Change photo</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file"
                                               id="upload"
                                               class="account-file-input"
                                               hidden
                                               accept="image/png, image/jpeg" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-password-toggle">
                            <label class="form-label" for="basic-default-password12"> Password</label>
                            <div class="input-group">
                                <input type="password"
                                       class="form-control"
                                       id="password1"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="basic-default-password2" />
                            </div>
                        </div>
                        <div class="form-password-toggle">
                            <label class="form-label" for="basic-default-password12">Confirm password</label>
                            <div class="input-group">
                                <input type="password"
                                       class="form-control"
                                       id="password2"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="basic-default-password2" />
                            </div>
                        </div>
                        </br>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>