<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3e291e94-160e-4779-9821-9ab7e33eff94/resourceGroups/SRC-RG/providers/Microsoft.Web/sites/src-app</ResourceId>
    <ResourceGroup>SRC-RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://src-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>bd26182b-cc8b-4ea5-9edd-9f810a99d9a0</ProjectGuid>
    <PublishUrl>https://src-app.scm.azurewebsites.net/</PublishUrl>
    <UserName>$src-app</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>